extends layout

block content
    .inner
        h2 #{title}
        .map
            .autocomplete
                input.autocomplete__input(type="text" placeholder="Search..." name = "geolocate")
            div#map
                p Loading map